.chat__container {
  width: var(--chat-window-width);
  height: var(--chat-window-height);

  position: absolute;
  bottom: 15px;
  left: 45px;

  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.chat__window {
  width: 100%;
  height: 100%;

  background-color: var(--dark-2);
  border-radius: 12px;
}

.chat__top {
  background-color: var(--dark-3);

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  width: 100%;
  height: 35px;
}

.chat__top > p {
  font-size: 18px;
  color: var(--light-1);
  text-align: center;
}

.chat__window--decorator-container {
  display: flex;
}

.chat__window--decorator-container > div {
  width: 20px;
  height: 20px;

  margin: 0 5px;

  background-color: var(--dark-2);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.minimize > i {
  font-size: 12px;
  color: var(--green-main);
}

.maximize > i {
  font-size: 12px;
  color: var(--green-main);
}

.close > i {
  color: var(--green-main);
}
