.content-box__container {
  padding-top: 10px;
  padding-left: 10px;

  width: calc(var(--main-width) - 15%);
  height: calc(var(--main-height) - 15%);
}

.content-box__outer {
  border: 10px solid var(--green-dark);
  border-radius: 18px;

  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}

.content-box__inner {
  border-radius: 8px;
  background-color: var(--chroma-key-color);

  width: 100%;
  height: 100%;
}
