.dunces__main-container {
  display: flex;
  flex-direction: row;

  width: 400px;
}

.dunces__container {
  padding: 0 5px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.dunces__person-image {
  width: 250px;
}

.dunces__person-name {
  width: 100%;

  padding: 5px 0;

  color: var(--light-1);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

  overflow: hidden;
  text-overflow: ellipsis;
}

[data-order="2"] {
  align-self: flex-end;
}

[data-order="2"] .dunces__person-image {
  width: 175px;
}

[data-order="2"] .dunces__person-name {
  font-size: 20px;
}
