.events__container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.events__box {
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);

  padding-left: 12px;

  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: var(--event-box-width);
  height: var(--event-box-height);
}

.events__box--event {
  background-color: var(--green-main);
}

.events__box--event > i {
  color: var(--dark-1);
  font-size: 24px;
}

.events__box--event > p {
  color: var(--green-main);
}

.events__box--social {
  background-color: var(--dark-2);
}

.events__box--social > i {
  color: var(--dark-1);
  font-size: 24px;
}

.events__box--social > p {
  color: var(--dark-2);
}

.events__box--social.twitter > i {
  color: var(--twitter-blue);
}

.events__box--social.youtube > i {
  color: var(--youtube-red);
}

.events__box--social.tiktok > i {
  color: var(--tiktok-white);
}

#social-tag {
  color: var(--light-1);
  font-size: 24px;
}
