@import url("https://fonts.googleapis.com/css?family=DynaPuff&display=swap");
@import url("./contentBox.css");
@import url("./events.css");
@import url("./chatbox.css");
@import url("./sittingCorner.css");
@import url("./dunces.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DynaPuff";
}

:root {
  --main-width: 1920px;
  --main-height: 1080px;

  --event-box-width: 300px;
  --event-box-height: 50px;

  --chat-window-width: 750px;
  --chat-window-height: 200px;

  --green-main: #486d5d;
  --green-light: #56835b;
  --green-dark: #2e5142;

  --dark-1: #2d2d2d;
  --dark-2: #353c3f;
  --dark-3: #2a3032;

  --light-1: #f2f2f2;

  --twitter-blue: #1da1f2;
  --youtube-red: #ff0000;
  --tiktok-white: #ffffff;

  --chroma-key-color: #ff00ff;
  /* use this in dev to not burn eyes */
  /* --chroma-key-color: #000000; */
}

.overlay__container {
  width: var(--main-width);
  height: var(--main-height);

  position: relative;
}

.background-gradient {
  position: absolute;
  overflow: hidden;

  z-index: -1;
  width: 100%;
  height: 100%;
}
