.sitting-corner__main-container {
  width: 1050px;
  /* background-color: green; */
  position: relative;
}

.sitting-corner__bench {
  width: 100%;
}

.sitting-corner__container {
  display: flex;
  position: absolute;
  max-width: 850px;

  top: 0;
  left: 100px;
}

.sitting-corner__person-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: content-box;

  margin: 0 8px;

  width: 170px;
}

.sitting-corner__person-image {
  width: 150px;
  height: 150px;
}

.sitting-corner__person-name {
  max-width: 170px;
  margin-top: 8px;

  color: var(--light-1);
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
